@page
@model RPM_DT.Pages.Movie.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <label>Title<label></label></label> <input name="Title" /><br />
    <label>Genre</label><input name="Genre" /><br />
    <label>Release Date</label><input name="ReleaseDate" /><br />
    <label>Price</label><input name="Price" /><br />
    <label>Rating</label> <input name="Rating" /><br />

    <button>Create</button>
</form>

