@page
@model RPM_DT.Pages.Movie.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <input name="Title" /><br />
    <input name="Genre" /><br />
    <input name="ReleaseDate" /><br />
    <input name="Price" /><br />
    <input name="Rating" /><br />

    <button>Create</button>
</form>

